/* 
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    border-radius: 6px;
}
*/

/* Homologar atributos de escrituras (textarea es escribe).
input, 
textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*/

/* Aplica a la lista de elementos afectados. 
{Aquí utilizo los atributos}
*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="tel"],
input[type="password"], 
input[type="search"], 
textarea,  
label {
    font-family: inherit;
    font-size: 100%;
    vertical-align: middle;
    width: 13em;
    padding: 5px;
    border-radius: 6px;
    margin: 5px 5px 5px 0;
    color: rgb(121, 48, 19);
    background-color: rgb(226, 226, 231);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 
input[type="checkbox"] + label {
    border: 2px solid #138d75;
    background-color: indianred;
    padding: 4px 10px;
    display: inline-block;
    width: 5em;
    text-align: center;
}

input[type="checkbox"]:checked + label {
    border: 2px solid #8d6613;
    background-color: rgb(92, 190, 205);
    padding: 4px 10px;
    display: inline-block;
    width: 5em;
    text-align: center;
}
*/

input[type="button"]:focus {
    background-color: rgb(255, 113, 47);
}

input[type="button"]:checked {
    background-color: greenyellow;
}
